<div class="container">
  <router-outlet></router-outlet>
</div>
<!--  <div></div>
  <button class="btn btn-default" (click)="login()">
      Login
  </button>
  <button class="btn btn-default" (click)="logoff()">
      Logout
  </button>
  
  <div>
    <ul id="scroller"
        ngxInfiniteScroller
        strategy="scrollingToBottom"
        (onScrollDown)="onScrollDown()">
      <li class="photos"
          *ngFor="let photo of this.photos">
          <textarea [(ngModel)]="photo.text" (focusout)="dataChanged(photo)" >{{ photo.text }}</textarea>
            <img src="{{photo.sizes[photo.sizes.length-1].url}}">
      </li>
    </ul>
  </div>
  
</div>
 -->
